<section id="catalog-section">
    {{#with room}}
    <h1 class="item">{{name}}</h1>
    <div class="item padded">

        <main class="layout right large">

            <div class="col">

                <img src="{{imgUrl}}" class="img-large">

            </div>

            <div class="content pad-med">

                <p>City: <strong>{{city}}</strong></p>
                <p>Beds: {{beds}}</p>
                <p>{{description}}</p>

                <div class="align-center">
                    <div>
                        Price per night: <strong>{{price}}€</strong>
                    </div>
                </div>
                {{#if isOwner}}
                <a class="action" href='/facility/{{_id}}/decorateRoom'>Decorate Room</a>
                <a class="action" href='/room/{{_id}}/edit'>Edit</a>
                <a class="action" style="background-color: Red;" href='/room/{{_id}}/delete'>Delete</a>
                {{/if}}
                </div>

        </main>
        {{#if ownerName}}
        <footer>Listed by {{ownerName}}</footer>
        {{/if}}
    </div>
    {{/with}}
</section>